
*.Po

*.Plo

*.m4

*.0

*.1

*.2

autom4te.cache/requests

autostuff/ar-lib

autostuff/compile

*.guess

*.sub

autostuff/depcomp

autostuff/install-sh

autostuff/ltmain.sh

autostuff/missing

autostuff/test-driver

bindings/cxx/libsigrokcxx.pc

config.h

config.h.in

config.log

config.status

configure

include/libsigrok/stamp-h2

include/libsigrok/version.h

INSTALL

libsigrok.pc

libtool

Makefile

Makefile.in

stamp-h1
